.site {
    background-color: $color__theme-white;
}
.site-header {
    padding: $size__site-padding 0;  
}
.site-branding {
    img {
        max-width: 180px;
    }
}
.site-footer {
    background: $color__background-footer;
    padding: $size__site-padding 0;    
    @include font-size(0.9);
    color: darken($color__theme-white, 20%);
    a {
        color: $color__theme-white;
        text-decoration: none;
        &:hover, &:focus, &:visited {
            color: $color__theme-white;
            text-decoration: underline;
        }
    }
}