.nav-menu {
    li {
        a {
            color: $color__theme-white;
            padding: $size__site-padding 2*$size__site-padding 10px 2*$size__site-padding;
            display: inline-block;
            border-bottom: 2px solid transparent;
        }
        a:hover,a:focus {
            border-bottom-color: $color__theme-white;
            background-color: lighten($color__theme-main,5%);
        }
        &.current-menu-item a {
            border-bottom-color: $color__theme-white;
            background-color: lighten($color__theme-main,10%);
        }
    }
}
.menu-icons {
    list-style-type: none;
    margin: 0;
    li, a {
        display: inline-block; 
    }
    .icon-title {
        display: none;
    }
}
.contact-links-menu {
    float: right;
    @include font-size(0.9);
    margin-top: 25px;
    li {
        margin-left: 5px;
        a {
            .icon-title {
                color: $color__theme-main-dark;
                display: inline-block;
            }
            text-decoration: none;
        }
    }
}
.social-links-menu {
    float: right;
    @include font-size(0.9);
    margin-top: 20px;
    li {
        margin-left: 5px;
        a {
            border: 1px solid $color__theme-main;
            border-radius: 50%;
            width: 30px;
            line-height: 30px;
            height: 30px;
            text-align: center;
        }
    }
}
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
