/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Container
--------------------------------------------------------------*/
.navigation_container {
    background-color: $color__theme-main; 
    width: 100%;
    display: table;
    table-layout: fixed;    
}