.cherry-breadcrumbs {
    padding: $size__site-padding 0;
    @include font-size(0.9);
    .cherry-breadcrumbs_item {
        display: inline-block;
        color: darken($color__theme-white,20%);
        a {
            color: darken($color__theme-white,40%);
        }
    }
}