$color__theme-main: #f62e46;
$color__theme-main-dark: #242424;
$color__theme-white: #fff;

$color__background-body: $color__theme-main-dark;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__theme-main;
$color__link-visited: darken($color__theme-main,20%);
$color__link-hover: darken($color__theme-main,20%);
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-footer: $color__theme-main-dark;